In [0]:
import numpy as np 
import pandas as pd

In [2]:
books_data=pd.read_csv('/content/books.csv')
books_data

         id  ...                                    small_image_url
0         1  ...  https://images.gr-assets.com/books/1447303603s...
1         2  ...  https://images.gr-assets.com/books/1474154022s...
2         3  ...  https://images.gr-assets.com/books/1361039443s...
3         4  ...  https://images.gr-assets.com/books/1361975680s...
4         5  ...  https://images.gr-assets.com/books/1490528560s...
...     ...  ...                                                ...
9995   9996  ...  https://images.gr-assets.com/books/1307445460s...
9996   9997  ...  https://s.gr-assets.com/assets/nophoto/book/50...
9997   9998  ...  https://images.gr-assets.com/books/1455373531s...
9998   9999  ...  https://images.gr-assets.com/books/1279214118s...
9999  10000  ...  https://images.gr-assets.com/books/1403194704s...

[10000 rows x 23 columns]

In [3]:
ratings_data = pd.read_csv('/content/ratings.csv')
ratings_data

        book_id  user_id  rating
0             1      314       5
1             1      439       3
2             1      588       5
3             1     1169       4
4             1     1185       4
...         ...      ...     ...
981751    10000    48386       5
981752    10000    49007       4
981753    10000    49383       5
981754    10000    50124       5
981755    10000    51328       1

[981756 rows x 3 columns]

In [4]:
#Checking to see if the feature 'book_id' and 'best_book_id' are similar.
books_data['check']=books_data.apply(lambda x:int(x['book_id'] == x['best_book_id']),axis=1)
books_data[books_data['check']==0]

        id   book_id  ...                                    small_image_url  check
29      30   8442457  ...  https://images.gr-assets.com/books/1339602131s...      0
32      33       930  ...  https://s.gr-assets.com/assets/nophoto/book/50...      0
37      38     14050  ...  https://images.gr-assets.com/books/1437728815s...      0
53      54        11  ...  https://images.gr-assets.com/books/1327656754s...      0
83      84      7677  ...  https://s.gr-assets.com/assets/nophoto/book/50...      0
...    ...       ...  ...                                                ...    ...
9776  9777   8428984  ...  https://images.gr-assets.com/books/1374845830s...      0
9786  9787  18271235  ...  https://images.gr-assets.com/books/1403347563s...      0
9892  9893  16081202  ...  https://images.gr-assets.com/books/1405104324s...      0
9898  9899  25813921  ...  https://images.gr-assets.com/books/1458533580s...      0
9970  9971  12602078  ...  https://images.gr-assets.com/books/1368675679s...      0

[241 rows x 24 columns]

In [5]:
books_data['book_id'].isnull().sum()

0

In [6]:
books_data['best_book_id'].isnull().sum()

0

In [0]:
#Dropping one feature which have same values as other feature like (title , orignal title ) and  (book_id,best_book_id)
books_data=books_data.drop(['title','best_book_id'],axis=1)

#Dropping features that cannot contribute in the recommendations
books_data=books_data.drop(['image_url','small_image_url','isbn','isbn13'],axis=1)

In [0]:
# Building the item-item similarity matrix 
booksDictonaries=[]
indexMap = {}
reverseIndexMap = {}
ptr=0;
testdf = ratings_data
testdf=testdf[['user_id','rating']].groupby(testdf['book_id'])
for groupKey in testdf.groups.keys():
    tempDict={}

    groupDF = testdf.get_group(groupKey)
    for i in range(0,len(groupDF)):
        tempDict[groupDF.iloc[i,0]]=groupDF.iloc[i,1]
    indexMap[ptr]=groupKey
    reverseIndexMap[groupKey] = ptr
    ptr=ptr+1
    booksDictonaries.append(tempDict)

In [0]:
from sklearn.feature_extraction import DictVectorizer
#Encoding the data using DictVectorizer
dictVectorizer = DictVectorizer(sparse=True)
vector = dictVectorizer.fit_transform(booksDictonaries)

In [0]:
# Calculation of  the cosine similarity between the item vectors.
from sklearn.metrics.pairwise import cosine_similarity
pairwiseSimilarity = cosine_similarity(vector)

In [0]:
#Helper functions for printing input book and recommendations
def bookDetails(bookID):
    print("Book Title  :", books_data[books_data['id']==bookID]['original_title'].values[0])
    print("Book Author :",books_data[books_data['id']==bookID]['authors'].values[0])
    print("Book ID     :",bookID)
    print("\n")

def topRecommandations(bookID):
    row = reverseIndexMap[bookID]
    print("------ BOOK--------------------")
    bookDetails(bookID)
    print("-------RECOMMENDATIONS----------")
    similarBookIDs = [bookDetails(indexMap[i]) for i in np.argsort(pairwiseSimilarity[row])[-7:-2][::-1]]

In [23]:
topRecommandations(1245)

------ BOOK--------------------
Book Title  : The Brethren
Book Author : John Grisham
Book ID     : 1245


-------RECOMMENDATIONS----------
Book Title  : The Street Lawyer
Book Author : John Grisham
Book ID     : 1037


Book Title  : The Last Juror
Book Author : John Grisham
Book ID     : 1388


Book Title  : The Testament
Book Author : John Grisham
Book ID     : 1057


Book Title  : The Broker
Book Author : John Grisham
Book ID     : 1301


Book Title  : The King of Torts
Book Author : John Grisham
Book ID     : 1407